[buildout]
newest = false
prefer-final = true
parts = eggs
develop = .

[eggs]
recipe = z3c.recipe.scripts
eggs =
    WebOb>=1.2dev
    unittest2
    pyramid
    Django
    wsgithumb
    nose
    coverage
    webtest
    Sphinx
    Sphinx_PyPI_upload
    pystacia
interpreter = python
script-initialization =
    import os
    os.environ['DJANGO_SETTINGS_MODULE'] = 'tests.settings'
